<h3>
	<%= link_to 'My Campaigns', campaigns_path %> > 
	<%= link_to @campaign.name, @campaign %> >
	<%= @project.name %>
</h3>
<div class="well">
  <table class="table table-striped">
  </table>
</div>